// Place all the styles related to the Plays controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plays {
  .play-item {
    text-align: center;
    .play-image {
      width: 150px;
      height: 230px;
      margin: 0 auto;
    }
    .play-title {
      font-weight: bolder;
      height: 50px;
    }
  }
}

.play-title {
  margin-top: 5px;
  font-weight: bolder;
}
