<%= simple_form_for([@play, @play.reviews.build]) do |f| %>
  <div id='rating-input'>
    <label>Rating</label>
    <br>
  </div>
  <%= f.input :comment %>
  <%= f.button :submit, class: 'btn btn-default' %>
<% end %>

<script>
  $('#rating-input').raty({
    path: '/assets/raty/lib/images',
    scoreName: 'review[rating]'
  });
</script>
