<div class='review'>
  <div class='review-rating' data-score="<%= review.rating %>"></div>
  <p class='review-comment'><%= review.comment %></p>
</div>

<script>
  $('.review-rating').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/raty/lib/images'
  });
</script>
